In [66]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, classification_report
from sklearn.linear_model import LogisticRegression

In [3]:
df = pd.read_csv("healthcare-dataset-stroke-data.csv")
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [4]:
df.dtypes

id                     int64
gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [5]:
# Check the values in the object columns
for column in df.columns.tolist():
    if df[column].dtype not in ['int64', 'float64']:
        display(df[column].value_counts())

gender
Female    2994
Male      2115
Other        1
Name: count, dtype: int64

ever_married
Yes    3353
No     1757
Name: count, dtype: int64

work_type
Private          2925
Self-employed     819
children          687
Govt_job          657
Never_worked       22
Name: count, dtype: int64

Residence_type
Urban    2596
Rural    2514
Name: count, dtype: int64

smoking_status
never smoked       1892
Unknown            1544
formerly smoked     885
smokes              789
Name: count, dtype: int64

In [6]:
df.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [7]:
df = df.dropna(subset=['bmi'])
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5104,14180,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [8]:
df.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [9]:
df = df[df['gender'] != 'Other']
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5104,14180,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [10]:
for column in df.columns.tolist():
    if df[column].dtype not in ['int64', 'float64']:
        display(df[column].value_counts())

gender
Female    2897
Male      2011
Name: count, dtype: int64

ever_married
Yes    3204
No     1704
Name: count, dtype: int64

work_type
Private          2810
Self-employed     775
children          671
Govt_job          630
Never_worked       22
Name: count, dtype: int64

Residence_type
Urban    2490
Rural    2418
Name: count, dtype: int64

smoking_status
never smoked       1852
Unknown            1483
formerly smoked     836
smokes              737
Name: count, dtype: int64

In [11]:
label_encoder = LabelEncoder()

In [12]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5104,14180,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [13]:
for column in df.columns:
    if df[column].dtype not in ['int64', 'float64']:
        df.loc[:, column] = label_encoder.fit_transform(df[column])

In [14]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1,67.0,0,1,1,2,1,228.69,36.6,1,1
2,31112,1,80.0,0,1,1,2,0,105.92,32.5,2,1
3,60182,0,49.0,0,0,1,2,1,171.23,34.4,3,1
4,1665,0,79.0,1,0,1,3,0,174.12,24.0,2,1
5,56669,1,81.0,0,0,1,2,1,186.21,29.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5104,14180,0,13.0,0,0,0,4,0,103.08,18.6,0,0
5106,44873,0,81.0,0,0,1,3,1,125.20,40.0,2,0
5107,19723,0,35.0,0,0,1,3,0,82.99,30.6,2,0
5108,37544,1,51.0,0,0,1,2,0,166.29,25.6,1,0
5109,44679,0,44.0,0,0,1,0,1,85.28,26.2,0,0

In [15]:
scaler = StandardScaler()

In [16]:
y = df['stroke']
X = df.drop('stroke', axis=1)

In [17]:
y

0       1
2       1
3       1
4       1
5       1
       ..
5104    0
5106    0
5107    0
5108    0
5109    0
Name: stroke, Length: 4908, dtype: int64

In [18]:
X

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,9046,1,67.0,0,1,1,2,1,228.69,36.6,1
2,31112,1,80.0,0,1,1,2,0,105.92,32.5,2
3,60182,0,49.0,0,0,1,2,1,171.23,34.4,3
4,1665,0,79.0,1,0,1,3,0,174.12,24.0,2
5,56669,1,81.0,0,0,1,2,1,186.21,29.0,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,14180,0,13.0,0,0,0,4,0,103.08,18.6,0
5106,44873,0,81.0,0,0,1,3,1,125.20,40.0,2
5107,19723,0,35.0,0,0,1,3,0,82.99,30.6,2
5108,37544,1,51.0,0,0,1,2,0,166.29,25.6,1
5109,44679,0,44.0,0,0,1,0,1,85.28,26.2,0

In [19]:
df.columns

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [46]:
X_scaled = scaler.fit_transform(X)
df_standartized = pd.DataFrame(X_scaled, columns=['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status'])

In [47]:
df_standartized

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,-1.334444,1.200240,1.069938,-0.318102,4.381499,0.729270,-0.155713,0.985436,2.777797,0.981145,-0.351828
1,-0.283348,1.200240,1.646336,-0.318102,4.381499,0.729270,-0.155713,-1.014779,0.014016,0.459086,0.585108
2,1.101377,-0.833166,0.271847,-0.318102,-0.228232,0.729270,-0.155713,0.985436,1.484266,0.701016,1.522044
3,-1.686032,-0.833166,1.601998,3.143642,-0.228232,0.729270,0.759543,-1.014779,1.549325,-0.623231,0.585108
4,0.934038,1.200240,1.690675,-0.318102,-0.228232,0.729270,-0.155713,0.985436,1.821493,0.013426,-0.351828
...,...,...,...,...,...,...,...,...,...,...,...
4903,-1.089890,-0.833166,-1.324334,-0.318102,-0.228232,-1.371234,1.674800,-1.014779,-0.049918,-1.310821,-1.288764
4904,0.372146,-0.833166,1.690675,-0.318102,-0.228232,0.729270,0.759543,0.985436,0.448045,1.414072,0.585108
4905,-0.825854,-0.833166,-0.348890,-0.318102,-0.228232,0.729270,0.759543,-1.014779,-0.502181,0.217156,0.585108
4906,0.023035,1.200240,0.360524,-0.318102,-0.228232,0.729270,-0.155713,-1.014779,1.373057,-0.419501,-0.351828
4907,0.362905,-0.833166,0.050155,-0.318102,-0.228232,0.729270,-1.986225,0.985436,-0.450629,-0.343102,-1.288764

In [58]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2)

In [64]:
lgr = LogisticRegression()
lgr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f'Mean Squared Error: {mse}')
print(f'Mean Absolute Error: {mae}')
print(f'R-squared: {r2}')

Mean Squared Error: 0.037825432668572474
Mean Absolute Error: 0.08176403944174714
R-squared: 0.031954019833108305

In [68]:
y_pred

array([-1.81030366e-02,  4.24481820e-02,  1.96895419e-02, -2.29509961e-02,
        1.10201681e-02,  6.74856800e-03,  9.07961150e-02,  1.79597499e-02,
        7.64475626e-02,  4.32098959e-03,  7.21516287e-03,  1.29901467e-02,
        1.12463707e-01,  8.41030985e-03,  2.24022098e-01,  6.07408856e-03,
       -4.18364981e-03,  2.68667809e-02, -5.07982498e-03,  2.63704150e-02,
       -1.98490535e-02, -1.65444871e-02,  1.17811910e-01,  2.08504432e-02,
        1.04559898e-02,  1.18203008e-02, -2.59366005e-02,  1.70318802e-01,
        6.61242076e-02,  4.64753680e-02,  5.02946555e-02,  6.32726658e-02,
        4.17397938e-02,  5.13322717e-03, -4.97885216e-03,  5.29917125e-02,
        2.96553690e-02,  5.42030230e-02, -1.90179563e-02,  1.80480567e-03,
        1.16994830e-01,  1.08957647e-01,  1.55340915e-02,  6.61414687e-02,
        4.24279254e-02, -1.91275178e-02,  7.74325427e-02, -1.32364640e-02,
        6.59955529e-02,  1.83857515e-02,  1.02906336e-02,  1.98507895e-02,
        7.22437437e-02,  2.38863353e-02, -1.27323288e-02,  2.14468471e-01,
       -1.54939361e-02,  1.41655500e-01, -1.55360978e-02,  8.66026689e-03,
        2.87880378e-02,  1.09828383e-02,  2.32255680e-01, -2.88505026e-02,
        7.42487667e-03,  1.66827292e-01,  8.24780478e-02,  4.48915792e-02,
        1.10124219e-01,  2.15793449e-02,  1.52738971e-01, -2.55505773e-02,
       -2.74188826e-03,  6.40168094e-02,  9.73203221e-02, -1.51444846e-02,
        8.70227471e-03, -6.94003546e-03,  3.45128813e-02,  7.78443968e-03,
        3.37537211e-02,  4.15849039e-02, -9.26186122e-03, -4.02185536e-02,
       -2.09153104e-02,  1.30781330e-01,  1.00949420e-01,  1.24782420e-02,
        3.79838173e-02,  4.75454220e-02,  3.66244033e-02,  1.26747868e-01,
        9.89965312e-02,  3.25467611e-02, -1.68293448e-02,  2.02550482e-01,
        1.37991171e-01,  5.69025645e-02,  5.85835666e-03,  6.74712349e-02,
       -5.08457643e-03,  3.12668992e-02,  1.22193658e-01,  7.80869379e-02,
       -8.27676049e-03,  7.42544714e-02,  7.52065789e-02,  1.04389595e-02,
       -2.19176310e-02,  4.01571399e-02,  1.54783334e-01,  1.02319224e-01,
       -4.15618528e-02,  1.48406660e-01,  2.71735954e-02, -9.07145546e-03,
        4.23310787e-03,  7.71784250e-02,  4.55285891e-02,  9.33972995e-03,
       -8.10881638e-04,  1.52956152e-01,  1.14661605e-01,  2.48675081e-02,
       -1.63520670e-02,  9.90146969e-02,  5.79016308e-02,  8.14422269e-02,
        5.58077933e-02,  5.96015573e-02, -3.23982220e-02, -4.23473443e-05,
        4.06375564e-02,  1.92327694e-02,  8.03608013e-03, -1.75272836e-02,
        6.80311512e-03,  5.61535283e-02, -2.59012412e-03,  2.04355661e-01,
        3.73517254e-02,  9.51182025e-02,  1.43443886e-01, -2.20918791e-03,
        2.57185521e-02,  1.08297006e-01,  8.57578046e-02,  1.46770145e-02,
        2.99170206e-02,  2.16265163e-01,  1.59698761e-02, -1.40250941e-02,
       -2.46030430e-02,  1.31589683e-03,  2.42889613e-02,  6.21731240e-02,
        1.22936825e-03,  1.52909560e-02,  1.76645224e-04,  1.45196363e-01,
        7.76992270e-02,  7.40981394e-04, -7.90539018e-03, -2.99687498e-02,
        5.16519307e-02,  1.63794663e-01,  1.37427082e-01,  4.87503401e-02,
        3.01916304e-02,  1.47109006e-01,  8.18838193e-02,  1.09990633e-01,
        1.68620533e-02,  4.36403269e-02,  1.69732476e-02, -2.80664731e-02,
        9.66988537e-03,  4.01449659e-02,  7.95863588e-02,  3.96223655e-02,
       -1.72806254e-02,  3.03797793e-02,  3.64711688e-02,  1.32545019e-01,
        7.10391498e-02,  9.33744407e-02, -2.92438715e-02,  2.10678513e-04,
        9.93352621e-02,  1.23745820e-01,  1.40841531e-02,  1.29778488e-01,
       -2.66797512e-02,  1.89658215e-03,  1.27833125e-01,  6.32321815e-02,
        4.96935020e-02, -9.15240308e-03,  1.86944506e-01,  6.02799756e-02,
        1.83285836e-02,  4.53367666e-02,  8.99981222e-03, -1.68122592e-03,
        1.43291324e-01,  3.26055967e-02,  1.22630994e-02, -2.59471206e-03,
        7.27747034e-02,  4.25776453e-02,  5.24025715e-02,  2.35720066e-03,
       -2.62996750e-02,  1.36300984e-01, -1.16631830e-02,  7.10193631e-02,
        7.38395052e-02, -2.52428896e-02, -1.30379372e-02,  7.55040320e-02,
        1.14632658e-03,  5.02899310e-03,  1.66611353e-03, -1.88377967e-02,
       -4.23422196e-03,  1.14611591e-01,  1.44257160e-01, -1.47198062e-02,
        1.27158389e-01, -5.19671109e-05,  1.13478300e-01, -2.08305786e-02,
        9.09181775e-02,  2.40128411e-02, -2.94419970e-02,  3.18571865e-03,
       -1.51025627e-02, -6.20920258e-03, -2.67177224e-04,  1.62894366e-02,
        6.89839116e-02, -1.85320826e-02,  5.70311049e-02,  8.59893778e-05,
       -7.59972346e-03,  3.67448742e-02,  5.53227392e-02, -8.29845396e-03,
       -1.17985743e-02, -1.04378227e-02,  2.74902113e-02,  1.15651197e-01,
        1.51898462e-02, -3.25648215e-02, -5.95821441e-03,  6.88315306e-02,
        5.31665340e-02,  2.35658363e-01,  5.78115007e-02,  4.94482087e-03,
       -2.22762370e-02, -1.50523693e-02,  1.89370199e-02, -5.23651232e-03,
        7.47382118e-02,  3.97915767e-02,  4.92064280e-02,  2.75009013e-02,
        6.83846034e-02,  2.53292296e-04,  2.65809977e-03,  2.22902429e-05,
        4.47578763e-02,  7.85977599e-03, -1.75290538e-03, -9.77306248e-03,
        9.26382921e-02, -3.76232894e-03,  7.79460137e-02,  6.01597972e-03,
        3.70505262e-03,  7.07661739e-02,  2.12815180e-01,  4.58856499e-02,
        6.86862215e-02, -1.24969073e-02, -4.41699286e-03, -2.67004141e-02,
        1.09349770e-02,  9.60810117e-02,  1.08286236e-02,  2.65474846e-02,
        9.84845916e-02,  6.21773126e-02,  1.10378739e-02, -4.62412180e-02,
        9.20172309e-02,  1.01609661e-01,  5.15863284e-02,  7.15891899e-03,
        3.44798547e-02,  1.10222093e-01,  3.49189481e-02, -1.99868154e-02,
        7.13164478e-03,  2.12481525e-02, -3.58563546e-02,  1.27933102e-01,
       -9.62055865e-03,  3.63427578e-02,  1.77125634e-01,  8.79939596e-02,
        6.44967488e-02,  8.18902907e-02,  1.97232550e-02, -2.76574100e-02,
       -9.82591239e-03,  2.25411270e-02,  1.23002586e-02,  1.33318070e-01,
        1.36014522e-01,  1.83845783e-01, -4.91159949e-03,  2.02652581e-02,
        1.06379309e-03, -3.14572997e-02,  1.15981853e-01,  2.35317701e-02,
        3.26127491e-02,  4.38244594e-02,  1.81691949e-01,  3.88009954e-02,
        4.29172448e-02,  1.54246920e-01,  4.83941474e-02, -6.93213652e-03,
        4.40394100e-02,  6.17871640e-02, -1.15375196e-03,  9.86487795e-02,
        5.07095126e-02,  5.16552060e-02,  4.98176007e-02, -1.13466932e-02,
        8.13195057e-02,  1.93778027e-02, -3.12686472e-02,  7.33955474e-02,
       -5.87192509e-04,  3.99714050e-02,  9.39967047e-02, -2.55301982e-03,
        2.38244269e-01,  1.39529584e-02, -4.64164029e-03,  4.91793066e-02,
        1.02120196e-01,  1.68263789e-02,  9.07252101e-02,  3.49598984e-02,
        4.89493618e-04, -1.18480714e-03,  6.36941657e-02,  3.49930987e-02,
        1.79929584e-02,  6.19981276e-03,  8.40820081e-02,  9.91292256e-03,
        1.59218102e-01,  1.23038892e-01,  1.71472161e-02,  1.52045836e-02,
        2.53555175e-01, -1.82958337e-02,  5.39319565e-02,  1.48638960e-01,
        9.31463770e-02,  2.83454661e-02,  1.63925865e-02,  1.58934919e-01,
       -9.93671282e-03,  2.18925357e-02,  5.15207698e-02, -1.79515391e-02,
        2.17634826e-01,  3.22096206e-02,  1.11471273e-01,  6.67465317e-02,
        1.18819814e-02,  2.09059123e-01,  2.35447587e-02,  4.91435906e-02,
        3.62627391e-02,  5.07954778e-02,  1.20546914e-02, -6.28051061e-03,
        1.15692724e-01,  1.10458076e-02,  8.62310417e-02, -1.21541964e-02,
        1.31679080e-01,  1.00933560e-01,  7.86346346e-04,  1.09521472e-01,
        9.77597151e-02,  5.41253945e-02, -2.90752238e-02,  8.31904070e-02,
        2.80312023e-02,  4.30401580e-02,  2.39884646e-02,  9.89714320e-02,
        1.07736682e-01,  4.65400359e-02,  6.86282503e-03,  5.20206431e-02,
        1.44099646e-02,  2.78977434e-02, -1.51736300e-02, -1.91869775e-02,
        1.04717334e-03,  1.71443814e-01,  3.00292375e-02, -4.23178779e-03,
       -2.05661892e-02, -4.83104214e-03,  3.57642683e-02, -2.78456809e-02,
        2.20093933e-02,  5.66277779e-03,  1.99761906e-01,  1.67651284e-02,
        1.13390212e-01, -4.40714884e-03,  7.23001740e-02,  7.06737506e-02,
       -1.76845934e-02,  8.59162756e-02, -1.54702392e-02, -6.19178118e-03,
        1.01890508e-01,  8.97471017e-02,  2.40709036e-02, -1.92902932e-02,
        1.13650232e-01,  6.38525792e-03, -3.31012539e-02,  8.48546453e-02,
        7.93244119e-02,  1.21105795e-02,  6.11550694e-03,  1.24191934e-02,
        2.75606547e-03, -3.00963748e-03, -6.20352925e-03,  1.91070334e-02,
        3.29290915e-02,  4.94281330e-02, -1.24068807e-02, -3.65500538e-03,
        8.43621744e-03,  1.83019063e-02,  3.60921965e-02, -3.27116437e-02,
        6.05308016e-03,  2.77153539e-02,  3.69993058e-02,  7.06354433e-03,
       -2.43838456e-02,  4.74091667e-03,  1.68595671e-02,  2.83784386e-02,
        8.36088026e-03,  3.98962632e-02,  3.38551383e-02, -6.88294093e-04,
        8.63882337e-02, -2.76338843e-03,  3.07611720e-03,  8.05976535e-02,
       -3.06734251e-02, -1.91525394e-03,  1.12202564e-01,  1.46985138e-01,
        7.89853473e-03, -2.85332143e-02, -1.37015408e-02,  8.13368088e-03,
        3.68421074e-02,  2.99183460e-02,  7.10715652e-02,  1.26698566e-02,
       -2.63449417e-02,  9.33805935e-02,  6.84338374e-02,  1.81314457e-02,
       -1.08398801e-03,  4.92130536e-02,  1.33620882e-01, -2.45863606e-02,
        1.85802142e-01, -3.10263489e-02,  3.32718740e-02, -3.53708803e-02,
        7.92477102e-02,  1.73912143e-02,  5.00430510e-03,  2.73056388e-01,
        5.26539082e-02,  1.14692305e-02, -7.76851896e-03,  9.07849738e-02,
       -5.79207773e-03, -6.18439822e-03, -3.81149918e-03,  1.15248289e-01,
        2.13527048e-01,  6.62442861e-02,  1.24649031e-01,  2.19239614e-02,
        1.01601445e-02,  5.49276246e-03, -2.43030698e-02, -3.31335495e-02,
        3.85131855e-03,  2.34891912e-02, -2.78134036e-02,  2.27857161e-02,
        6.23379544e-02, -1.18026293e-02,  1.12236691e-02,  1.09338100e-02,
        9.69385304e-02,  1.28599955e-01, -2.35895947e-02, -2.77325507e-02,
        7.36149784e-02, -1.37295308e-02,  1.84263085e-02,  6.02352506e-02,
        8.48934751e-02,  8.58816686e-02, -4.89141240e-04,  2.71074726e-02,
        8.91184831e-02,  1.85311922e-02,  3.63986960e-02, -9.97541526e-03,
       -2.57181802e-02, -4.07791392e-02,  2.61009832e-01,  4.57714991e-02,
        4.74552473e-02, -7.85624013e-03,  9.77423992e-04,  1.00274413e-01,
       -4.26117738e-03,  2.70467894e-02,  9.53873966e-02,  7.31557431e-02,
        8.67440208e-02, -9.91149804e-03,  1.46370424e-01,  6.50261009e-03,
        3.83608194e-03,  6.53083749e-02,  2.68997070e-02,  5.97625027e-02,
        6.08507970e-03, -2.22818924e-02,  4.22879137e-02,  3.01777605e-02,
        2.88562561e-03, -3.44424985e-02,  1.74337195e-02,  3.21726992e-02,
        4.69003106e-02,  9.44456254e-02,  2.07044560e-01,  4.21840109e-02,
        1.49480500e-02, -3.58503194e-03, -2.65715840e-02, -2.14321337e-02,
        5.05130490e-02,  3.91650441e-02,  1.07750793e-02,  1.19815483e-01,
        6.74400012e-02, -3.44547985e-02,  1.53300104e-02, -9.11724197e-03,
        2.08879010e-02,  2.95455644e-02,  6.19922597e-02,  1.36855424e-01,
        2.45853458e-01, -1.64759982e-02, -3.45920998e-02,  3.65668893e-02,
       -7.22126512e-03, -4.16284659e-02, -3.45810258e-02,  5.75951740e-02,
       -8.06004013e-03,  2.46428902e-01,  1.52971265e-01,  2.21066606e-02,
        5.42333958e-02,  5.56832114e-02,  7.90771415e-02, -7.89274211e-03,
       -1.91848256e-02,  1.74947937e-01,  7.15847007e-02,  6.08280138e-02,
       -2.87964856e-02, -6.88690134e-03,  4.46457560e-03,  3.86794828e-02,
        3.42547195e-02,  9.46415426e-02,  2.89761345e-02, -1.92343215e-02,
        1.23865681e-01,  1.82725397e-02,  1.14814784e-02,  1.61641490e-02,
        3.98793692e-02,  3.24595129e-02,  1.47967066e-02,  9.56567024e-02,
        1.32611414e-02,  2.33570538e-01, -1.10574277e-04,  1.07313720e-03,
        6.02360273e-04,  9.43782972e-03,  2.09396047e-02,  1.95025900e-01,
       -2.12410480e-03,  8.77384317e-02,  5.60018636e-02,  2.28923258e-02,
        6.46932645e-02,  1.69088899e-01, -2.67582305e-03,  8.44974444e-02,
        4.62732833e-02, -7.67668069e-03,  3.68090441e-02,  1.73073532e-02,
       -4.67323406e-03,  1.62829069e-01,  3.42908833e-03, -2.28829042e-02,
        4.22464063e-02,  7.33999153e-02,  8.44747219e-02,  4.81193845e-02,
        1.28757306e-01,  5.39677662e-02,  4.12417827e-02,  8.21885809e-02,
        3.33058590e-02, -1.87573240e-02,  5.66203785e-02,  7.48891427e-02,
       -3.50760751e-03, -1.57172816e-02,  2.98322310e-02,  3.07816220e-02,
        1.18208067e-01, -1.79061660e-02,  2.06638122e-02, -1.33693667e-02,
        8.51456226e-02,  1.31186449e-02,  1.10169007e-01,  1.56754578e-01,
        1.59534328e-01, -1.21620019e-03,  1.09701752e-01, -1.53211412e-03,
        1.03231450e-02,  3.84610072e-02,  3.56591283e-02,  8.84537448e-02,
       -1.70333757e-02,  5.71333451e-02,  5.85088500e-02,  3.57047153e-02,
       -8.76165608e-03,  6.22297478e-02,  1.31579342e-02,  1.43641249e-02,
        7.71832058e-02,  7.28471296e-02,  9.31008477e-02,  3.55164546e-02,
        1.01696067e-01,  8.90199091e-02,  1.44728249e-02,  1.97802901e-02,
        7.79530994e-02,  2.81131112e-02,  2.66746243e-02, -2.07377901e-02,
        6.59070378e-02,  8.19402380e-02,  5.29761676e-02,  3.78538419e-02,
        1.01564894e-03,  7.61919500e-02,  1.18055899e-02,  6.71084968e-03,
        9.87951588e-02,  1.92439790e-02, -1.08830973e-03,  1.02392079e-01,
       -2.03751054e-02,  3.05500485e-02,  1.82193998e-01,  2.32875839e-02,
       -2.50641038e-02, -1.47168865e-02,  1.73016738e-04,  8.82178304e-02,
        5.62135608e-02,  2.40926916e-02,  1.09928201e-02,  7.79677488e-02,
       -2.02696818e-02, -3.01218638e-04,  1.09551341e-01,  4.24704427e-02,
        2.19160948e-02,  1.73907776e-02,  6.43502130e-02,  6.32680840e-02,
        6.60772896e-02,  1.15404925e-01, -3.15202715e-02, -3.37103045e-02,
       -2.25083968e-02,  3.74793839e-02,  1.70584211e-02,  1.00481962e-01,
        3.42157629e-02, -9.01195175e-03,  2.26862919e-01, -2.64896258e-02,
        1.19359022e-01,  2.85163859e-03, -1.10164515e-02, -7.97681840e-03,
        4.75407998e-02, -1.00545108e-02,  1.88177669e-02,  1.32419054e-01,
        3.00764819e-02,  9.76076561e-02,  8.50278281e-02,  6.06587712e-04,
        1.60173109e-03,  8.39597809e-02,  5.84159460e-02,  3.85690703e-02,
       -2.32401129e-03, -1.21754245e-03,  1.50841532e-02, -5.26214764e-03,
        7.31030865e-03,  7.77094788e-02,  9.36306793e-02,  8.10556490e-02,
        6.32279645e-02,  3.47427986e-03,  6.86584626e-02,  8.75599336e-02,
        6.65554218e-02,  1.03902378e-01,  6.69851340e-02, -1.63251548e-02,
        5.63734562e-02,  5.36715911e-02,  9.59627682e-02,  1.05091206e-01,
       -1.28295033e-02,  2.32005877e-03,  1.27496281e-01, -2.53448367e-02,
        6.14053893e-03,  1.68749039e-01,  1.99479809e-03, -3.00916535e-04,
        4.35183707e-03,  4.51575944e-02,  2.25157107e-02,  1.09396444e-02,
        9.28313626e-03,  1.90960592e-02,  3.59582433e-02,  7.83986066e-03,
       -8.87351385e-03, -3.84986005e-02,  4.80821063e-02,  4.18994387e-02,
        9.75710678e-02,  1.35210260e-02,  2.50207197e-02,  1.04099720e-02,
        5.77646915e-02, -3.17234464e-02, -1.41159082e-02,  3.25155413e-02,
        1.48573779e-01,  1.02509512e-01,  2.21135705e-03, -8.41772385e-03,
       -1.68412722e-03, -1.26316498e-02,  1.31310362e-01,  3.54135324e-02,
        2.27614619e-01,  4.00184634e-02,  1.07456992e-02, -1.15108962e-02,
        2.41039934e-02,  1.34898262e-01, -2.23291993e-02,  2.31800797e-02,
        1.72994622e-02,  1.08578901e-01, -2.88875609e-02,  8.22206713e-02,
        7.54589362e-02,  1.65950987e-01,  1.32331742e-02,  1.46695333e-03,
        9.50743347e-03, -9.38426359e-03, -2.54067033e-03,  3.14803203e-02,
        3.31070577e-02, -7.53344508e-03,  2.43172200e-02, -9.03870386e-03,
        3.52379894e-02,  3.96217506e-02, -1.16405212e-02, -2.70946955e-02,
        9.44559129e-02,  2.87435472e-02,  3.76475394e-02, -3.00978678e-02,
        1.30316053e-02,  3.56597874e-02, -2.41740037e-02,  5.36789143e-02,
        2.35135897e-02,  7.79792261e-02,  8.65198569e-02,  4.71766471e-02,
       -6.77359557e-03,  2.61328409e-02,  2.85160455e-02,  8.88471111e-03,
        7.06401434e-02,  2.63135370e-01,  6.85689853e-03,  6.14006021e-02,
       -1.55549208e-02,  6.26535886e-02,  8.01665508e-02,  6.70525936e-03,
       -1.57577116e-02,  7.12836750e-02,  1.10060177e-02,  9.40066992e-03,
       -4.00033323e-03,  1.15092147e-02,  1.27339638e-01,  4.75954832e-02,
        1.98387285e-02,  5.93579992e-03,  4.18217635e-02, -5.56087021e-03,
        6.22320990e-02, -1.27777734e-04, -2.40357466e-02,  2.29792998e-02,
        5.32746100e-02,  9.34561734e-02, -3.27894641e-02,  1.17426226e-01,
        2.50594049e-01,  8.08528180e-02, -8.93151556e-03,  6.52851562e-02,
        4.50998402e-02,  8.32104192e-02, -1.25254081e-02,  3.25297683e-02,
        1.74464104e-01,  3.14945557e-02,  6.06233245e-03,  1.52475485e-01,
       -1.29421581e-02,  1.08431936e-02,  2.01076994e-01,  2.86413356e-02,
        2.79141487e-02, -2.02247460e-02, -6.33070400e-03,  3.12268449e-02,
        4.02050129e-03, -7.66282759e-03,  1.28054937e-01, -2.57239746e-02,
        5.01640065e-03,  2.84768025e-02, -5.24597192e-02,  7.64816617e-02,
        3.83473949e-02, -1.95323370e-02,  5.29444585e-03, -3.71262458e-02,
        1.27652517e-02,  3.09967157e-02, -3.25316845e-03,  1.38719758e-01,
        2.07704474e-02,  1.60682931e-01,  1.30498576e-01,  6.52753623e-02,
       -2.80182966e-02,  1.68709814e-01,  6.75359561e-02, -1.87921616e-02,
        5.06797816e-04, -2.67887238e-02,  3.62091374e-02, -5.04818583e-03,
       -9.70575466e-03,  2.34875365e-02, -1.09405153e-02, -2.29055204e-02,
       -5.08694447e-03,  6.87741776e-02, -7.73749791e-03,  4.06485725e-02,
       -2.93050406e-03,  2.74295587e-02, -3.48951793e-02,  8.23578502e-02,
        2.06601249e-02,  1.52837024e-01, -1.15338075e-02, -1.35435748e-02,
        2.95432205e-03,  2.64887646e-02,  6.99503009e-02,  6.68436247e-02,
        4.37526767e-03,  1.47611317e-02,  1.48542359e-02, -2.47310289e-02,
        4.97127221e-03, -2.04131777e-02,  3.81940114e-02, -2.84774708e-02,
        1.00302679e-01,  1.12304718e-02,  4.53138347e-02, -1.29492043e-02,
       -1.82589654e-02,  4.83325367e-02,  3.12569238e-02, -2.19946487e-02,
        1.81882749e-02,  1.87632109e-02])

In [23]:
pca = PCA(n_components=2)
pca.fit(X)
pca_X = pca.transform(X)

In [32]:
pca_X.shape

(4908, 2)